* {
    margin: 0;
    padding: 0;

}
.About-header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(about.jpg);
    background-position: top;
    background-size:  cover;
    position: absolute ;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: rgba(255, 255, 255, 0.61);
    font-family: 'Franklin Gothic Medium';
    text-decoration: none;
    font-size: 24px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #f31202;
    display: block;
    margin: auto;
    transition: 0.6s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
@media(max-width: 700px){
    .About-header{
        min-height: 100vh;
        width: 100%;
    }
    .nav-links ul li {

        padding: 2px 4px;
        position: static;
    }
    .nav-links ul li a{
        font-size: 10px;
    }
 }
.about{
    width: 80%;
    flex-basis: 48%;
    margin-bottom: 30px;
}
span h1{
    text-align: left;
    font-family: 'Impact';
    font-size: 60px;
    color: #fff;
    margin-left: 100px;
}
span p{
    text-align: left;
    font-family: 'Alice';
    font-size: 30px;
    color: white;
    margin-left: 150px;
}
@media(max-width: 700px){
    .about{
        margin-left: none;
    }
    .about h1{
        font-size: 20px;
        margin: 5px;
        padding: 0%;
    }
    .about p{
        font-size: 10px; 
        margin: 5px;
        padding: 0%;
    }
    
 
 }
h1{
    text-align: center;
    font-size: 30px;
    color: black;
}

.row{
    margin-top: 100px;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;


}
.other_info{    
    flex-basis: 60%;
    background: rgba(175, 174, 177, 0.466);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    text-align: center;
    margin-left: 100px;
    margin-right: 80px;

}
.other_info:hover{
box-shadow: 0 0 20px 0px rgba(241, 239, 239, 0.349);
}
.info p{
    text-align: left;
    font-family: 'Alice';
    font-size: 25px;
    color:black;
    margin-left: 20px ;
}
@media(max-width: 700px){
    .row{
        flex-basis: 40%;
        margin: 15px;
        padding: 2%;
        justify-content: center;
        display: contents;

    }
    .other_info h1{
        font-size: 20px;
        
    }
    .other_info p{
        margin-left: 3px;
        font-size: 10px;
        text-align: left;
    }
}